<h2>Candidate / Detail</h2>
<form action="">
  <div class="form-container">
    <div class="form-title">
        <h3>Detail Data Candidate</h3> 
    </div>
    <div class="form-control">
      <label for="">Bootcamp</label>
      <span>{{detailCandidate.bootcampClassId}}</span>
    </div>
    <div class="form-control">
      <label for="">First Name</label>
      <span>{{detailCandidate.firstName}}</span>
    </div>
    <div class="form-control">
      <label for="">Last Name</label>
      <span>{{detailCandidate.lastName}}</span>
    </div>
    <div class="form-control">
      <label for="">Gender</label>
      <span>{{detailCandidate.gender}}</span>
    </div>
    <div class="form-control">
      <label for="">Birth Date</label>
      <span>{{detailCandidate.birthDate}}</span>
    </div>
    <div class="form-control">
      <label for="">Address</label>
      <span>{{detailCandidate.address}}</span>
    </div>
    <div class="form-control">
      <label for="">Phone Number</label>
      <span>{{detailCandidate.phoneNumber}}</span>
    </div>
    <div class="form-button">
        <button type="submit" class="submit-button" (click)="onBack()">Ok</button>
    </div>
  </div>
</form>
