td {
  padding: 0.7rem;
}

.action {
  display: flex;
  align-items: center;
}

.edit {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 40px;
  background-color: blue;
  color: white;
  border-radius: 3px;
  margin-right: 10px;
  cursor: pointer;
}

.detail {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 40px;
  background-color: orange;
  color: white;
  border-radius: 3px;
  cursor: pointer;
}
