.form-container {
    padding: 20px 200px 20px 200px;
}

.form-title, .form-button {
    display: flex;
    justify-content: center;
}

h2 {
    margin-left: 30px;
}

.form-control {
    display: flex;
    margin-bottom: 15px;
    align-items: center;
}

.form-control label {
    flex: 0.3rem;
}

.form-control input, .form-control select {
    flex: 0.7rem;
    height: 30px;
    width: 300px;
}

.submit-button {
    margin-top: 30px;
    height: 30px;
    width: 100px;
    border-radius: 5px;
    border: none;
    background-color: green;
    color: white;
}